<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 定义自定义拦截器 -->
    <bean id="customInterceptor" class="com.jusfan.transaction.management.interceptor.TransactionInterceptor"/>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <bean class="com.jusfan.transaction.management.interceptor.TransactionInterceptor"/>
    </mvc:interceptors>

    <!-- 其他配置，如视图解析器等 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>